.user-profile {
  margin: 15rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userInfo-container{
  display: flex;
  flex-direction: column;
}
.userInfo-container > label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.userInfo-container > label > input {
  margin-left: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
  width: 300px;
  height: 40px;
}

.toleft{
  left:-40.5rem;
}