* {
  color: var(--font-color);
}

input {
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--line-color);
  border-radius: 40px;
  padding-left: 16px;
  font-size: 1rem;
  padding-top: 10px;
  margin-bottom: 1rem;
  outline: none;
}
input:focus{
  border: 1px solid #eee;
}
label{
  position: relative;
}

.labelname{
  position: absolute;
  padding-left: 17px;
  font-size: 1rem;
  transition: .2s;
}

.forcusing{
  font-size: .7rem;
  padding-left: 14px;
  margin: 5px;
}

.registerbtn{
  font-size: .8rem;
  cursor: pointer;
}
.registerbtn:hover{
  text-decoration: underline;
}

.Register h3{
  text-align: center;
  margin: 1.5rem;
}

.input-box{
  width: 350px;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.inputs{
  display: flex;
  flex: 1;
}
.input-box button{
  margin-top: 2rem;
}


.check-box input{
  height: 15px;
  width: auto;
}
.check-box label{
  right: 0;
  margin-right: 1rem;
  width: 123px;
  text-align: start;
  padding-left: 10px;
}

.done h4{
  width: 350px;
}


.error{
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.error:focus{
  border: 1.5px solid var(--main-color);
}
.errorfont{
  color: var(--main-color);
}