@import url('../global.css');

.Loginpage{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  margin-top: -10rem;
  scale: .7;
  margin-bottom: 2rem;
  opacity: 0.5;
  transition: .2s;
}
.imgdown{
  margin-top: 4rem;
  opacity: 1;
}

.form{
  border: 1px solid var(--line-color);
  width: 672px; height: 562px;
  border-radius: 15px;
  margin: 12rem auto;

  display: flex;
  justify-content: flex-start;
  align-items: center; 

  overflow: hidden;
  opacity: 0;
}
.form > div {
  margin: 0 9.7rem;
  position: relative;
  transition: .3s;
}
.base{
  left: 0;
}
.goleft{
  left: -673px;
}
.goleft2{
  left: -1357px;
}
.goleft3{
  left: -2085px;
}
.goleft4{
  left: -2520px;
}
.goright{
  left: 673px;
}
.intro{
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 2rem;
  width: 500px;
  opacity: 0;
  transition: .2s ease-in-out; 
  font-family: 'iceJaram-Rg';
}
.introText1{
  left: -43rem;    
}
.introText1-right{
  left: -25rem;
  opacity: 1;
}
.introText2{
  top: -48px;
  right: -48rem;
}
.introText2-left{
  right: -20rem;
  opacity: 1;
}

.downbtn{
  margin: -2rem 0;
  margin-bottom: 5rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  transition: .2s;
  top: -2rem;
  animation: bounce 1s infinite linear alternate;
  opacity: 0;
}
.downbtn-up{
  margin: 3rem 0;
  opacity: 1;
}

.introText3{
  margin: 2rem 0;
  top: -2rem;
  width: 100%;
}
.introText3-up{
  top: 5rem;
  opacity: 1;
}
.intro span{
  font-weight: bold;
  text-shadow: 0 0 30px yellow;
}
.introText3 span{
  color: var(--main-color);
}


@keyframes bounce {
  0% {top: 7px;}
  100% {top: 0px;}
}


.error{
  border: 1px solid var(--main-color);
}

.show{
  opacity: 1;
}

@media (max-width: 1000px){
  .Loginpage img{
    scale: .6;
  }
  .imgdown{
    margin-top: 8rem;
  }
  .introText1{
    margin-top: 3rem;
  }
  .introText1-right{
    left: -16rem;
  }
  .introText2{
    margin-top: 7rem;
  }
  .introText2-left{
    right: -14rem;
  }
  .downbtn-up{
    margin: 5rem 0;
  }
}
@media (max-width: 820px){
  .imgdown{
    margin-top: 3rem;
  }
  .introText1{
    margin-top: 1rem;
  }
  .introText1-right{
    left: -13rem;
  }
  .introText2{
    margin-top: 1rem;
  }
  .introText2-left{
    right: -12rem;
  }
  .introText3-up{
    top: 9rem;
  }
  .downbtn-up{
    margin: 8.5rem 0;
  }
}
@media (max-width: 420px){
  .Loginpage img{
    scale: .3;
  }
  .imgdown{
    margin-top: 1rem;
  }
  .intro{
    font-size: 1.8rem;
  }
  .introText1{
    margin-top: 0rem;
  }
  .introText1-right{
    left: -5rem;
  }
  .introText2{
    margin-top: 6rem;
  }
  .introText2-left{
    right: -4rem;
  }
  .introText3-up{
    top: 3rem;
  }
  .downbtn-up{
    margin: 1.5rem 0;
  }
  .form{
    width: 384px;
    margin: 10rem 0;
  }
  .form > div{
    margin: 0 2rem;
  }
  .goleft{
    left: -384px;
  }
  .goleft2{
    left: -780px;
  }
  .goleft3 {
    left: -1197px;
}
}
@media (max-width: 380px){
  .Loginpage img{
    scale: .3;
  }
  .imgdown{
    margin-top: 1rem;
  }
  .intro{
    font-size: 1.5rem;
  }
  .introText1{
    margin-top: 0rem;
  }
  .introText1-right{
    left: -5rem;
  }
  .introText2{
    margin-top: 2rem;
  }
  .introText2-left{
    right: -4rem;
  }
  .introText3-up{
    top: 0;
  }
  .downbtn-up{
    margin: -1.5rem 0;
  }
  .form{
    width: 357px;
    margin: 7rem 0;
  }
  .form > div{
    margin: 0 2rem;
  }
  .input-box{
    padding: 0 1rem ;
    width: 338px;
    margin-bottom: 3rem;
  }
  .base{
    left: -11px;
  }
  .goleft{
    left: -398px;
  }
  .goleft2{
    left: -805px;
  }
  .goleft3 {
    left: -1242px;
}
}
@media (max-width: 280px){
  .Loginpage img{
    scale: .2;
  }
  .imgdown{
    margin-top: 1rem;
  }
  .intro{
    font-size: 1.3rem;
  }
  .introText1{
    margin-top: 0rem;
  }
  .introText1-right{
    left: -3rem;
  }
  .introText2{
    margin-top: 5rem;
  }
  .introText2-left{
    right: -2rem;
  }
  .introText3-up{
    top: 2rem;
  }
  .downbtn-up{
    margin: 0.5rem 0;
    scale: .8;
  }
  .form{
    width: 260px;
    margin: 7rem 0;
  }
  .form > div{
    margin: 0 2rem;
    scale: .7;
  }
  .input{
    width: 200px;
  }
  .input-box{
    padding: 0 1.5rem;
  }
  .base{
    left: -62px;
  }
  .goleft{
    left: -446px;
  }
  .goleft2{
    left: -868px;
  }
  .goleft3 {
    left: -1307px;
}
}