@import url(./Fonts.css);

.main-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') center no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10rem;
    box-sizing: border-box;
}

svg text{
    font-size: 2rem;
    font-family: 'Black Ops One', cursive;
    stroke-dasharray: 80;
    stroke: #fff;
    stroke-width: 1px;
}