@import url(../global.css);

.MoreGenre{
  color: var(--font-color);
  width: 100%;
  background-color: var(--bg-color);
}

.maintitle{
  text-align: left;
  margin: 0 7rem;
  margin-top: 5rem;
  text-shadow: 0 0 10px white;
  font-size: 3rem;
  text-align: center;
}
