.player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(182, 12, 12, 0.7);
    transition: .3s;
}
.player:hover{
    box-shadow: 0 0 5rem rgba(182, 12, 12, 0.7);
}
.player-img img{
    filter: brightness(.7);
}